body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2HCdrAUFoZTOqreBuijKEAtB9xQBuErM6xqztPq0hb4eHESwNl-5mu_JBhdLo1CmOzHp0wmewA1wDx9kxBpg3BtJbdn5st61nVxzsKsDa&s=10);
}